.ivu-table-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}
.ivu-table-cell .ivu-divider {
  margin: 0 8px;
  display: inline-block;
  height: 0.9em;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -0.06em;
  font-size: 14px;
  line-height: 1.5;
  color: #515a6e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e8eaec;
}
